*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f1f2f4;
}

/* TOP NAVBAR */

.top-navbar{
    width:100%;
    padding:14px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* LEFT SECTION */

.left-section{
    display:flex;
    align-items:center;
    gap:20px;
}

.logo-box{
    background:#ffe500;
    padding:16px 40px;

    border-radius:14px;
    display:flex;
    align-items:center;
    gap:10px;

    font-weight:600;
    cursor:pointer;
}

.logo-box i{
    color:#0b57d0;
    font-size:24px;
}

.travel-box{
    background:#ececec;
    padding:16px 40px;

    border-radius:14px;

    display:flex;
    align-items:center;
    gap:10px;

    font-weight:600;
    cursor:pointer;
}

.travel-box i{
    color:#ff6b4a;
}

/* LOCATION */

.location{
    display:flex;
    align-items:center;
    gap:8px;

    font-size:18px;
}

.location .text{
    font-weight:600;
}

.location a{
    text-decoration:none;
    color:#2874f0;
    font-weight:600;
}

/* BOTTOM NAVBAR */

.bottom-navbar{
    width:100%;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 40px;
}

/* SEARCH BAR */

.search-bar{
    width:75%;
    position:relative;
}

.search-bar input{
    width:100%;

    padding:16px 20px 16px 55px;

    border:2px solid #2874f0;
    border-radius:14px;

    font-size:18px;
    outline:none;

    background:white;
}

.search-icon{
    position:absolute;

    left:20px;
    top:50%;

    transform:translateY(-50%);

    color:gray;
    font-size:22px;
}

/* RIGHT MENU */

.right-section{
    display:flex;
    align-items:center;
    gap:35px;
}

.menu-item{
    display:flex;
    align-items:center;
    gap:8px;

    font-size:20px;
    cursor:pointer;
}
/* CATEGORY NAVBAR */

.category-navbar{
    width:100%;
    background:white;

    display:flex;
    justify-content:space-around;
    align-items:center;

    padding:18px 10px;
    margin-top:10px;

    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

.category{
    display:flex;
    flex-direction:column;
    align-items:center;

    gap:8px;

    cursor:pointer;
    position:relative;
}

.category i{
    font-size:28px;
    color:#333;
}

.category p{
    font-size:15px;
    color:#111;
}

/* ACTIVE ITEM */

.category.active p{
    font-weight:bold;
}

.category.active::after{
    content:"";

    position:absolute;
    bottom:-18px;

    width:80px;
    height:4px;

    background:#2874f0;
    border-radius:10px;
}
.home-decor-section{
    background:#ff5a1f;
    margin:15px;
    border-radius:15px;
    padding:15px;
}

.section-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    margin-bottom:15px;
}

.section-header button{
    border:none;
    border-radius:50%;
    width:40px;
    height:40px;
    cursor:pointer;
}

.product-container{
    display:flex;
    gap:15px;
}

.product-card{
    background:white;
    border-radius:12px;
    padding:10px;
    width:25%;
}

.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.product-card p{
    margin-top:10px;
    font-size:18px;
}

.product-card h3{
    color:green;
}
.footer{

    background:#172337;

    color:white;

    padding:40px 60px 20px;

}

.footer-container{

    display:flex;

    justify-content:space-between;

    flex-wrap:wrap;

}

.footer-column{

    display:flex;

    flex-direction:column;

    margin-bottom:20px;

}

.footer-column h4{

    color:#878787;

    margin-bottom:15px;

    font-size:14px;

}

.footer-column a{

    color:white;

    text-decoration:none;

    margin-bottom:8px;

    font-size:13px;

}

.footer-column a:hover{

    text-decoration:underline;

}

.address p{

    font-size:13px;

    line-height:1.6;

}

.footer-bottom{

    border-top:1px solid #454d5e;

    margin-top:20px;

    padding-top:15px;

    text-align:center;

    font-size:14px;

}